@use 'bootstrap/scss/bootstrap.scss';
@use '../style/partials/variables' as *;

@font-face {
    font-family: 'NeueMontreal';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('/fonts/NeueMontreal-Regular.woff2') format('woff2'),
        url('/fonts/NeueMontreal-Regular.woff') format('woff');
}

@font-face {
    font-family: 'NeueMontreal';
    font-style: medium;
    font-weight: 500;
    src: local(''),
        url('/fonts/NeueMontreal-Medium.woff2') format('woff2'),
        url('/fonts/NeueMontreal-Medium.woff') format('woff');
}

@font-face {
    font-family: 'NeueMontreal';
    font-style: bold;
    font-weight: 800;
    src: local(''),
        url('/fonts/NeueMontreal-Bold.woff2') format('woff2'),
        url('/fonts/NeueMontreal-Bold.woff') format('woff');
}

@font-face {
    font-family: 'NeueMontreal';
    font-style: italic;
    font-weight: 400;
    src: local(''),
        url('/fonts/NeueMontreal-Italic.woff2') format('woff2'),
        url('/fonts/NeueMontreal-Italic.woff') format('woff');
}

body {
    font-family: 'NeueMontreal', Arial, sans-serif;
}

//Stile della sezione non intersecata
.fadeup {
    transform: translateY(50px);
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: 1s;
    transition-timing-function: linear;
}

//Stile della sezione dopo che è stata intersecata
.in-view {
    transform: none;
    opacity: 1;
}

.in-view.fadeup,
.in-view .fadeup {
    transform: none;
    opacity: 1;
}

.custom-mb-big {
    margin-bottom: $margin-bottom-big;
}

.custom-fs-big {
    font-size: $fs-big;
    font-weight: 500;
}

.custom-fs-small {
    font-size: $fs-small;
    font-weight: 400;
}

.custom-badge {
    // padding: 0.35rem 0.9rem;
    // background-color: $primary-color;
    // border-radius: 35px;
    display: inline-block;
    background-color: $primary-color;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    padding: 0.35rem 0.9rem;
    border-radius: 35px;
}

a {
    text-decoration: none;
    color: #777777;

    &:hover {
        color: #999999;
    }
}

@media screen and (max-width: 600px) {

    .custom-fs-big {
        font-size: 3rem;
    }
}